/*
@media (max-width: 410px){
  width: 100vw;
  height: 575px;
  margin: 0;
}
*/


.react-autosuggest__container {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.react-autosuggest__input {
  width: 300px;
  height: 35px;
  cursor: pointer;
  color: #333;
  padding: 0 20px;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 35px;
}

.search{
  width: 20px;
  height: 20px;
  margin: auto;
  font-size: 20px;
  display: flex;
  color: rgba(0,0,0,0.5);
  position: absolute;
  left: 270px;
  top: 0;bottom: 0;
  margin: auto;
  z-index: 2;
}
.search span {
  margin: auto;
}

.react-autosuggest__input--focused {
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(0,0,0,0.5);
  transition: 0.2s;
  border-radius: 35px;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
  background: black;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 250px;
  overflow-y: scroll;
}

@media only screen and (max-width: 410px) {
  .react-autosuggest__container{
    width: 100%;
  }
  .react-autosuggest__input{
    width: 80%;

  }
  .react-autosuggest__input--focused{
  }
  .react-autosuggest__suggestions-container--open {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 80px;
    background: black;
    overflow-y: scroll;
  }
  .react-autosuggest__suggestions-list {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
  }
  .search{
    left: 70%;
  }
}


.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
}

.searchText {
  display: inline-block;
  padding-left: 5px;
}

.searchResult__name {
  font-weight: bold;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgba(33, 32, 37, 0.5);
}
